*~
~*
*.asv
*.tmp
*.mat
*.db
*.pdf
*#
*.meta
*.data*
*.index
checkpoint
__pycache__/
DataSimulation/final_Dataset_1/log--06-Dec-2017--13-52-51.txt
DataSimulation/final_Dataset_1/log--06-Dec-2017--13-49-57.txt
